/**
  *
  * House Declarations
  *
  **/
@import "Circular-Book.less";
@import "Circular-Black.less";
@import "Circular-Bold.less";
* {
  box-sizing: border-box;
  // outline: 1px dashed orange;
}
html, body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  background-color: #FFFFFF;
  font-size: 100%;
  font-family: 'CircularBook', sans-serif;
}
body {
  position: relative;
  padding: 17px;
  box-sizing: border-box;
  color: #FFFFFF;
  transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
main.content {
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: #1C58C7;
  background-image: url('../img/luk-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  header.header {
    position: absolute;
    // top: 80px;
    top: 6.55vmin;
    // left: 147px;
    left: 12.5vmin;
    h2 {
      transform: translate3d(0, 0, 0);
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      // font-size: 20px;
      font-size: 1.3vmin;
      // letter-spacing: 7.1px;
      letter-spacing: 0.62vmin;
      font-family: 'CircularBold', sans-serif;
    }
  }
  section.hero {
    position: absolute;
    // left: 147px;
    left: 12.5vmin;
    top: 50%;
    transform: translateY(-50%);
    h1 {
      // font-size: 127px;
      font-size: 9vmin;
      font-family: 'CircularBlack', sans-serif;
      // letter-spacing: 27.5px;
      letter-spacing: 2.4vmin;
      margin-bottom: 48px;
      span {
        letter-spacing: 12px;
      }
    }
    h4 {
      // font-size: 27.5px;
      font-size: 1.9vmin;
      letter-spacing: 0.1vmin;
      margin-bottom: 1.4vmin;
      display: inline-block;
      font-family: 'CircleBook', sans-serif;
    }
    h4.underline {
      font-family: 'CircleBold', sans-serif;
      font-weight: 600;
      border-bottom: 2px solid #FFFFFF;
    }
  }
  footer.footer {
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    div.left-column {
      position: fixed;
      left: 17px;
      bottom: 17px;
      height: 213px;
      div.logo {
        // width: 9.5vmin;
        // position: absolute;
        // top: 0;
        // display: inline-block;
        // // width: 127px;
        // // width: 6.2vmin;
        // height: 100%;
        // text-align: right;
        width: 9.5vmin;
        position: absolute;
        top: 0;
        display: inline-block;
        height: 100%;
        text-align: left;
        padding-left: 2vmin;
        svg {
          position: relative;
          // top: -83px;
          display: inline-block;
          // left: -19px;
        }
      }
      div.text {
        position: absolute;
        left: 10.5vmin;
        display: inline-block;
        p {
          transform: translate3d(0, 0, 0);
          -webkit-font-smoothing: antialiased;
          text-rendering: optimizeLegibility;
          height: 100%;
          width: 37.5vmin;
          // width: 447.5px;
          // max-width: 100%;
          padding-top: 0.6vmin;
          font-size: 1.425vmin;
          // line-height: 24px;
          line-height: 2.15vmin;
        }
        p.copyright {
          color: rgba(255, 255, 255, 0.66);
        }
      }
    }
    div.right-column {
      position: fixed;
      right: 17px;
      bottom: 17px;
      height:127px;
      width:511px;
      div.logo {
        display: inline-block;
        margin-right: 5px;
        svg {
          display: inline-block;
        }
      }
      div.links {
        display: inline-block;
        a {
          padding: 20px;
          position: relative;
          top: -21px;
          font-size: 22px;
          display: inline-block;
        }
      }
    }
  }
}
aside.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: rgba(44, 92, 171, 0.9);
  div.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  form {
    display: inline-block;
    margin: 0 auto;
    // outline: 1px dotted yellow;
    text-align: left;
    position: relative;
    vertical-align: bottom;
  }
  div.form-beside {
    display: inline-block;
    // outline: 1px solid yellow;
    height:341px;
    vertical-align: bottom;
    padding-left: 15px;
    div, p {
      display: inline-block;
    }
    p {
      margin-left: 5px;
    }
  }
  div.form-headline {
    h1 {
      font-family: 'CircularBlack', sans-serif;
      font-size: 30px;
      margin-bottom: 10px;
    }
  }
  input[type="text"] {
    width: 300px;
    height: 40px;
    margin: 5px 0;
    padding: 10px;
    border: 0;
    -webkit-appearance: none;
    font-size: 14px;
  }
  input {
    outline: 0;
  }
  textarea {
    width: 300px;
    height: 120px;
    margin: 5px 0;
    padding: 10px;
    border: 0;
    outline: 0;
    font-size: 14px;
    -webkit-appearance: none;
    resize: none;
  }
}

div.form-group {
  position: relative;

}
.indication {
  position: absolute;
  display: inline-block;
  z-index: 8;
  right: 15px;
  top:14px;
  // display: none;
  height: 21px;
  width: 21px;
}

.CrossIcon {
  width: 25px;
  position: relative;
  top: -20px;
  cursor: pointer;
}
.Cross {
  fill: #FFFFFF;
}

.SuccessIcon {
  fill: #5374d5;
}
.ErrorIcon {
  fill: #eb4d6b;
}
div.form-group.error {
  input[type="text"] {
    outline: 3px solid #eb4d6b;
    color: #eb4d6b;
  }
  .indication {}
}
.contacticon {
  display: inline-block;
}
.User {
  width: 12px;
  height: 20px;
  position: relative;
  top: -18px;
}
#User {
  fill: #FFFFFF;
}
.Mail {
  width: 12px;
  position: relative;
  top: 19px;
}
#Mail {
  fill: #FFFFFF;
}
#AppStore {
  fill: #FFFFFF;
}
#AppStoreIcon {
  width: 16.3vmin;
}
#LUKIcon {
  height: 4.7vmin;
  width: 6.2vmin;
}
#LUK {
  fill: #FFFFFF;
}
.contact-content {
  p {
    position: relative;
    top: 20px;
    line-height: 21px;
    padding-top: 30px;
    a {
      font-family: 'CircleBlack', sans-serif;
      text-decoration: none;
      color: #FFFFFF;
      font-weight: 600;
    }
  }
  p.second-chunk {
    padding-top: 20px;
    a.email-static-link {
      top: 0;
      border-bottom: 2px solid #FFFFFF;
    }
  }
}
a {
  cursor: pointer;
}
