form(id='MailForm')
  div.form-headline
    h1 Have a Question?
  div.form-group
    label(for='UserName')
    input(type='text' name='UserName' id='UserName' placeholder='Your Name*' value='' class='')
    include SVG/CheckIcon
    include SVG/XIcon
  div.form-group
    label(for='EntityName')
    input(type='text' name='EntityName' id='EntityName' placeholder='' value='' class='')
    include SVG/CheckIcon
    include SVG/XIcon
  div.form-group
    label(for='EmailAddress')
    input(type='text' name='EmailAddress' id='EmailAddress' placeholder='Email Address*' value='' class='')
    include SVG/CheckIcon
    include SVG/XIcon
  div.form-group
    label(for='EmailMessage')
    textarea(id='EmailMessage' name='EmailMessage' placeholder='Message' value='' class='')
  div.form-button-group
    a(id='CancelButton') Cancel
    a(id='SubmitButton') Send
